.community-main {
  display: flex;
}

.community-nav {
  display: flex;
  justify-content: center;
  font-size: 16px;
  width: 30%;
  height: 605px;
  padding-right: 15px;
  margin-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.community-nav > ul li {
  margin-top: 10px;
  margin-bottom: 30px;
}

.community-nav > ul li:hover {
  animation: hoverChangeColorLi 0.1s linear forwards;
}

.community-nav > ul li:nth-child(2) {
  color: var(--nomad-color);
}

.community-notice {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  height: 600px;
  padding: 5px 5px 0px 5px;
  background-color: rgba(255, 255, 255, 0.1);
}

.community-notice__header--title {
  font-size: 20px;
  margin-bottom: 30px;
  opacity: 0.5;
}

.community-notice a:hover {
  animation: hoverChangeColorNomad 0.1s linear forwards;
}

.community-notice__main {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.community-notice__main--like {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
  margin-right: 15px;
}

.community-notice__main--title {
  font-size: 14px;
}

.community-notice-main--title h4 {
  margin-bottom: 10px;
}

.community-nav,
.community-notice {
  transform: translateX(-20px);
  animation: showSlideAnimation 1s ease-in-out forwards;
}

.community-nav {
  animation-delay: 1s;
  opacity: 0;
}

.community-notice {
  animation-delay: 1.5s;
  opacity: 0;
}
