.community-main {
  display: flex;
}

.community__nav {
  display: flex;
  justify-content: center;
  font-size: 16px;
  width: 30%;
  height: 605px;
  padding-right: 15px;
  margin-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

@keyframes hoverChangeColorLi {
  0% {
  }

  100% {
    color: var(--nomad-color);
  }
}

.community__nav > ul li {
  margin-top: 10px;
  margin-bottom: 30px;
}

.community__nav > ul li:hover {
  animation: hoverChangeColorLi 0.1s linear forwards;
}

.community__nav > ul li:nth-child(2) {
  color: var(--nomad-color);
}

.community__notice {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  height: 600px;
  padding: 5px 5px 0px 5px;
  background-color: rgba(255, 255, 255, 0.1);
}

.community__notice-header__title {
  font-size: 20px;
  margin-bottom: 30px;
  opacity: 0.5;
}

@keyframes hoverChangeColorMainLink {
  0% {
  }

  100% {
    color: tomato;
  }
}

.community__notice a:hover {
  animation: hoverChangeColorMainLink 0.1s linear forwards;
}

.community__notice-main {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.community__notice-main__like {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
  margin-right: 15px;
}

.community__notice-main__title {
  font-size: 14px;
}

.community__notice-main__title h4 {
  margin-bottom: 10px;
}

@keyframes showCommunityContent {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.community__nav,
.community__notice {
  transform: translateX(-20px);
  animation: showCommunityContent 1s ease-in-out forwards;
}

.community__nav {
  animation-delay: 1s;
  opacity: 0;
}

.community__notice {
  animation-delay: 1.5s;
  opacity: 0;
}
