.dashboard-screen__courses-challenges {
  margin-top: 10px;

  padding-top: 15px;
}

.dashboard-screen__courses-challenges--header {
  margin-bottom: 20px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

@keyframes hideSplashScreen {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: none;
  }
}

.splash-screen {
  background-color: #111827;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 122px;
  animation: hideSplashScreen 1s ease-in-out forwards;
  animation-delay: 0.5s;
}

@keyframes showDashboard {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.dashboard-animation {
  animation: showDashboard 1s ease-in-out forwards;
  animation-delay: 1s;
  transform: translateX(-30px);
  opacity: 0;
}
