body {
  color: white;
}

.screen-header__icons {
  position: relative;
}

.screen-header__dot {
  background-color: tomato;
  width: 5px;
  height: 5px;
  position: absolute;
  border-radius: 2.5px;
  right: -5px;
  top: -8px;
}

.recommended-courses {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 25px 0px;
}

.recommended-courses--title {
  color: rgba(255, 255, 255, 0.5);
}

.recommended-courses span {
  display: block;
  margin: 110px 0px;
  text-align: center;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}

.recommend-challenges__header {
  display: flex;
  margin-top: 10px;
  margin-bottom: 25px;
  justify-content: space-between;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
}

.recommend-challenges__post {
  display: flex;
  justify-content: space-between;
}

.recommend-challenges--title {
  font-weight: 600;
  margin-bottom: 5px;
}

.recommend-challenges--hashtags {
  text-transform: uppercase;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
}

.recommend-challenges--members {
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.recommend-challenges--members img {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin-right: 5px;
}

.recommend-challenges--member-count {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}

.recommend-challenges--members .divider {
  width: 1px;
  height: 15px;
  margin: 0px 5px;
  color: rgba(255, 255, 255, 0.5);
}

.recommend-challenges__member-status {
  color: tomato;
}

.recommend-challenges--photo img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
}

.recommend-challenges--photo span {
  margin-left: 3px;
}

.recommend-challenges--photo {
  position: relative;
}

.recommend-challenges--like-count {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px;
  border-radius: 15px;
  position: absolute;
  right: 10px;
  bottom: 5px;
  font-size: 14px;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
  }
}

.recommend-challenges--like-count:hover i {
  will-change: transform;
  animation: heartBeat 0.5s ease-in-out infinite;
}

@keyframes showRecommendPage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.icon-row {
  opacity: 0;
  transform: translateY(-20px);
  animation: showRecommendPage 1s ease-in-out forwards;
  animation-delay: 1s;
}

.recommended-courses {
  opacity: 0;
  transform: translateX(-20px);
  animation: showRecommendPage 1s ease-in-out forwards;
  animation-delay: 1.5s;
}

.recommend-challenges {
  opacity: 0;
  transform: translateX(-20px);
  animation: showRecommendPage 1s ease-in-out forwards;
  animation-delay: 2s;
}
