.setting-list {
  display: flex;
  flex-direction: column;
}

.setting-settings {
  padding: 20px 0;
  border-bottom: var(--main-border);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.setting-settings i {
  margin-right: 20px;
  font-size: 22px;
}

.settings__setting-column:last-child {
  opacity: 0.5;
}

.setting-list {
  opacity: 0;
  transform: translateX(-20px);
  animation: showSlideAnimation 1s ease-in-out forwards;
  animation-delay: 1.5s;
}
